.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0;
}

.gallery figure {
    margin: 10px;
    text-align: center;
    flex: 1 1 calc(30% - 20px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.2s;
}

.gallery figure:hover {
    transform: scale(1.05);
}

.gallery img {
    width: 100%;
    height: auto;
    border-radius: 8px 8px 0 0;
}

.gallery figcaption {
    padding: 10px;
    background-color: white;
    border-radius: 0 0 8px 8px;
}
